*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  background: #102569;
  color: white;
  font-size: 16px;
  width: 100%;
  height: 100%;
}
.App{
  width: 100%;
  height: 100%;
}
/* SCROLL BAR */
::-webkit-scrollbar {
  width: 14px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #0c1d53;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #2950d4; 
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3564ff; 
}
/* HOME */
.home-container{
  width: 100%;
  height: 100%;
}
/* HEADER */
header{
  display: flex;
    justify-content: space-between;
    background: #0c1d53;
    padding: 15px 25px;
    align-items: center;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.logo-box{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}
.logo-box img{
  width: 100%;
  height: 100%;
  display: block;
}
.header-nav{
  display: flex;
}
.header-nav li{
  list-style: none;
  margin-left: 110px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
.header-nav li a{
  color: white;
  text-decoration: none;
}
.banner-box img{
  width: 100%;
  height: 100%;
  filter: brightness(0.7);
  z-index: 1;
}
/* LOADING */
.loading-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 700px;
}
.loading-container img{
  width: 90px;
}
/* BUTTON */
.btn-container{
  margin: 0 50px;
  width: fit-content;
}
.btn{
  padding: 10px 15px;
  font-size: 19px;
  border: 2px solid #3968FF;
  border-radius: 35px;
  text-transform: uppercase;
  background: none;
  color: white;
  margin: 0 10px;
  transition: all .2s;
  outline: none;
  cursor: pointer;
}
.btn-active{
  background: #3968ff;
}
.btn:hover{
  background: #3968FF;
}
/* FILM */
.film-container{
  padding: 35px 45px;
  position: relative;
}
.film-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-container{
  padding: 15px 0 15px 25px;
}
.list-film-box{
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.list-film-container{
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  
}
.film-box{
  text-align: center;
    background: #1D3892;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    min-width: 290px;
    max-width: 290px;
    margin: 0 5px;
}
.film-box-img{
  width: 290px;
  overflow: hidden;
}
.film-box-img img{
  width: 100%;
  height: 100%;
  display: block;
  transition: all .3s;
}
.film-box:hover .film-box-img img{
  transform: scale(1.1);
}
.film-box-title{
  text-transform: uppercase;
  padding: 30px 0;
  font-size: 25px;
}
.btn-direct i{
  font-size: 45px;
  cursor: pointer;
}
/* EVENT */
.event-container{
  padding: 0 45px;
}
.event-box{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
 padding: 15px 0;
}
.event{
  overflow: hidden;
  width: calc(50% - 15px);
  border-radius: 10px;
}
.event img{
  width: 100%;
  height: 100%;
  display: block;
}
/* FOOTER */
footer{
  padding: 50px 25px 15px 25px;
  
}
.footer-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}
.footer-nav{
  display: flex;
}
.footer-nav li{
  list-style: none;
    margin-left: 25px;
    background: #3968FF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s;
}
.footer-nav li:hover{
  background: none;
}
.footer-nav li a{
  text-decoration: none;
  font-size: 19px;
}
.footer-bottom{
  padding-top: 15px;
  border-top: 2px solid #3968ff;
}
.footer-bottom span{
  color: #d0d0d0;
  font-weight: lighter;
}
/* FILM_SCHEDULE */
.film-schedule{
  padding-top: 100px;
}
/* FILM-CONTENT */
.film-content{
  margin: 30px 60px;
  padding: 30px;
  background: #22409E;
  border-radius: 15px;
}
.film-content-top{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 35px;
}
.film-content-img{
  width: 200px;
  overflow: hidden;
  border-radius: 5px;
}
.film-content-img img{
  width: 100%;
  height: 100%;
  display: block;
}
.film-content-main{
  margin-left: 25px;
}
.film-content-main h3{
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 15px;
}
.film-content-main span{
  display: flex;
  line-height: 35px;
  font-weight: lighter;
  font-size: 20px;
}
.film-content-main span h4{
  margin-right: 10px;
  font-size: 19px;
}
.film-classify{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.film-classify-box{
  padding: 10px 20px;
  background: red;
  border-radius: 35px;
  width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.film-classify-box h4{
  font-size: 20px;
}
.film-classify h3{
  font-size: 20px;
  margin-bottom: 0;
  margin-left: 10px;
}
/* .film-content-bottom{} */
.schedule-bars{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.schedule-container{
  background: #102569;
  border-radius: 15px;
  overflow: hidden;
  flex: 1;
}
.schedule-box{
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}
.schedule-btn-right{
  cursor: pointer;
}
.schedule{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  min-width: 10%;
  max-width: 10%;
  align-items: center;
}
.slot:hover{
  background: #3968FF;
}
.option-box{
  display: flex;
  justify-content: flex-end;
  margin: 20px 0 20px auto;
  width: fit-content;
  font-weight: bold;
  background: #153084;
  border-radius: 35px;
}
.option{
  width: 170px;
  text-align: center;
  padding: 10px;
  border-radius: 35px;
  cursor: pointer;
}
.option-active{
  background: #3968FF;
}
.film-content-slot{
  padding: 15px;
  background: #153084;
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.film-content-slot:last-child{
  margin-bottom: 0;
}
.cinema-add{
  padding: 10px;
  min-width: 400px;
  max-width: 400px;
  cursor: pointer;
}
.cinema-add h3{
  line-height: 35px;
  padding: 10px;
  font-size: 23px;
}
.cinema-add-main{
  background: #13255d;
  padding: 20px 10px;
  border-radius: 20px;
}
.cinema-add-main p{
  line-height: 30px;
}
.film-slot{
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
}
.slot{
  cursor: pointer;
  padding: 10px;
  background: #22409E;
  border-radius: 15px;
  margin: 10px;
  transition: all .4s;
}
.slot h3{
  font-size: 20px;
  font-weight: bolder;
}
.cinema-showtimes{
  max-width: 1190px;
  margin: 0 auto;
}
.select-address{
  background: #22409E;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  border-radius: 19px;
  align-items: center;
}
.select-address h3{
  text-transform: uppercase;
  color: #ececec;
  font-size: 25px;
}
.btn-add{
  outline: none;
  border: none;
  margin: 0 10px;
  font-size: 17px;
  background: #153084;
  color: white;
  width: 160px;
  padding: 10px;
  border-radius: 12px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: inherit;
  cursor: pointer;
  color: #d9d9d9;
  transition: all .4s;
}
.btn-add:hover{
  background: none;
  color: white;
}
.btn-add:last-child{
  margin-right: 0;
}
.address-container{
  margin-top: 25px;
  background: #22409e;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.address-box{
  min-width: 360px;
    max-width: 360px;
    background: #153084;
    padding: 0;
    margin-bottom: 30px;
    border-radius: 20px;
    color: #ececec;
    transition: all .2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.address-box:hover{
  color: white;
  background: none;
}
.address-slot-container{
  margin-top: 30px;
  background: #22409e;
  border-radius: 20px;
  padding: 20px;
}
.address-slot{
  background: #102569;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.address-slot:last-child{
  margin-bottom: 0;
}
.address-slot-img{
  width: 150px;
  border-radius: 5px;
  overflow: hidden;
}
.address-slot-img img{
  width: 100%;
  height: 100%;
  display: block;
}
.address-slot-content{
  margin-left: 25px;
}
.address-top-container small{
  font-size: 20px;
  color: #3968FF;
  font-weight: bolder;
  display: block;
  margin: 15px 0;
}
.address-slot-info{
  display: flex;
  align-items: center;
}
.address-slot-info .film-classify-box{
  padding: 0;
}
.address-slot-info h3{
  text-transform: uppercase;
  font-size: 24px;
  margin-right: 20px;
}
.address-slot-content .film-slot{
  margin: 0;
}
.address-slot-content .film-slot .slot:first-child{
  margin-left: 0;
}
.order-container{
  padding-top: 100px;
  max-width: 1190px;
  margin: 0 auto;
}
.status-bar{
  display: flex;
  background: #22409E;
  border-radius: 35px;
  text-transform: uppercase;
  font-size: 17px;
  margin-top: 30px;
}
.status{
  width: 20%;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
.status-active{
  background: #3968FF;
  border-radius: 35px;
}
.order-info-film{
  display: flex;
  border-radius: 15px;
  background: #22409E;
  padding: 19px;
  margin-top: 30px;
  align-items: center;
}
.order-info-img{
  overflow: hidden;
  width: 140px;
}
.order-info-img img{
  width: 100%;
  height: 100%;
  display: block;
}
.order-info-content{
  margin-left: 25px;
  line-height: 40px;
}
.order-info-content h2{
  text-transform: uppercase;
  font-size: 27px;
}
.order-info-content p{
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 600;
}
.order-info-content p i{
  color: #FAAA11;
  font-size: 25px;
}
.price-container{
  margin-top: 30px;
  border-radius: 17px;
  background: #22409E;
  padding: 17px;
}
.price-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.price-box:last-child{
  margin-bottom: 0;
}
.price-type{
  padding: 10px;
  background: #FAAA11;
  border-radius: 10px;
  color: black;
}
.price-type h3{
  text-transform: uppercase;
  font-weight: 700;
}
.price-info-box{
  display: flex;
  background: #102569;
  padding: 20px;
  border-radius: 15px;
  width: 70%;
}
.price-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 60px;
}
.price-info h5{
  font-size: 23px;
  margin-bottom: 25px;
}
.price-info h4{
  font-size: 24px;
  color: #FAAA11;
}
.price-amount{
  display: flex;
  font-size: 23px;
  cursor: pointer;
}
.amount-icon{
  width: 32px;
  height: inherit;
  text-align: center;
  background: #1D3892;
}
.amount-icon:first-child{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.amount-icon:last-child{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.amount-icon span{
  font-weight: 900;
    display: block;
}
.amount-total{
  width: 31px;
  text-align: center;
  background: #3968FF;
}
.amount-total span{
  font-weight: 700;
}
.bill-container{
  margin-top: 30px;
  border-radius: 17px;
  background: #22409E;
  padding: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bill-box{
  background: #3968FF;
  border-radius: 12px;
  padding: 15px;
  width: 50%;
}
.bill-row{
  display: flex;
  justify-content: space-between;
  line-height: 40px;
}
.bill-row h4{
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}
.bill-total{
  background: #FAAA11;
  border-radius: 35px;
  margin-top: 15px;
  padding: 0 10px;
  color: #102569;
}
.next-button button{
  padding: 10px 45px;
  outline: none;
  border: none;
  font-size: 22px;
  font-family: inherit;
  border-radius: 35px;
  text-transform: uppercase;
  background: #3968FF;
  color: white;
  font-weight: 700;
  transition: all .2s;
  cursor: pointer;
}
.next-button button:hover{
  background: #FAAA11;
  color: #102569;
}
